<h1>Cursos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Duração</th>
      <th>Preço</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @cursos.each do |curso| %>
      <tr>
        <td><%= curso.nome %></td>
        <td><%= curso.duracao %></td>
        <td><%= curso.preco %></td>
        <td>
          <%= link_to 'Show', curso_path(curso) %>
          <%= link_to 'Edit', edit_curso_path(curso) %>
          <%= link_to 'Destroy', curso_path(curso), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Curso', new_curso_path %>

